h1 {
  background-color: rgb(0, 0, 0);
  color: rgb(59, 156, 230);
  font-family: fantasy;
  border-radius: 15%;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 20px;
  margin-top: 30px;
  border: 15px solid rgb(100, 17, 131);
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

h3 {
  color: rgb(3, 17, 120);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(174, 209, 237);
  background-image: url("https://th.bing.com/th/id/R.b0c3fc9b3392966447dc10a6a20817d6?rik=QVols61exwSxrg&riu=http%3a%2f%2flam-programming.weebly.com%2fuploads%2f2%2f3%2f3%2f2%2f23323570%2fpublished%2fprogrammer.jpg%3f1573759220&ehk=%2bbGFQMSYqa79D4dfLz2e4O6YokzDG6Ea3pZwd43pN9w%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
}

p {
  margin-bottom: 40px;
}

ul {
  color: rgb(139, 30, 143);
  list-style-type: none;
  margin: 0;
  border: 0;
  padding: 0;
  margin-bottom: 40px;
}

img {
  border: 15px solid rgb(100, 17, 131);
  border-radius: 50%;
}

.centered {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;

  text-align: center;
  background-color: rgb(74, 186, 186);
  border: 15px solid rgb(100, 17, 131);
  border-radius: 20%;
}

@media (max-width: 960px) {
  .centered {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
}

@media (max-width: 720px) {
  .centered {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
}

@media (max-width: 540px) {
  .centered {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }
}
